{% extends "base.html" %}
<!-- Here is Where user can add their own Comics-->

{% block main_image %}
<div class="site-heading" id="add-comic-heading">
    <h3 class="main-font" id="recipe-heading-text">Click Me & Add your Comic</h3>

<!--button need to be linked to the add-comic-form.html-->
    <a href="#" class="btn btn-danger" id="add-comics-button" data-mdb-toggle="modal" data-mdb-target="#from-modal">Add Comic</a>
</div>
{% endblock %}
<!-- add the comic-form, from the a tag-->
{% include "componemts/add-comic-form.html" %}