{% block content %} 

<div class="container-fluid">

   <div id="page-content">
       <div class="grid-content">
           <h2 class="module-header">
           ::before
           "New Addad"
           ::after
          </h2>
       <div class="row MultiRow">
           <div class="row-comic-issue" id="data-filter-content=" browse">
               <div class="row-item comic-item">
                   <p class="subheading">Comic Info</p>
                   <label for="comic-name" class="addcomic-form-label">Comic Name</label>
                   <input type="text" name=""
                   <a href="add"></a>
                   <img src="./assets/image/covers/com13.jpg" class="rounded-end" alt="Addad later" title="addad">
            </div>
            <div class="row-item-text">
                <h3>ADD</h3>
                <p class="meta-creators">Add</p>
            </div>
         </div>
       </div>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com2.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com3.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com4.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com5.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com6.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com7.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com8.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com9.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com10.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com11.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   <div class="row-item comic-item">
       <div class="row-comic-image">
           <a href="add"></a>
                <img src="./assets/image/covers/com14.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>
</div>

{% endblock %}