<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src=".index.js"></script>
    <script src=".index.py"></script>
    <script src="https://kit.fontawesome.com/ad963c433a.js" crossorigin="anonymous"></script>

    <title>Comic.Con</title>
</head>
<body>
    <section>
        <div class="background">
            <div class="row">
               <a href="./assets/image/hero/hero4.jpg"></a>
            </div>
        </div>
    </section>


<header>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark text-white h4 background-dark">
            <div class="container-fluid">  
                <a class="navbar-brand" href="index.html">
                    <img src="" alt=""   width="" height="">
                    <i class="fas fa-user-astronaut"></i>
                        </a> 
                            <button class="navbar-toggler hvr-grow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigetion">
                                 <span class="navbar-toggler-icon"></span>
                            </button>
    
                            <div class="collapse navbar-collapse" id="navbarNav">   
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            
                                <li class="nav-item">
                            <a class="nav-link active" href="index.html"><span  id="menu">Home</span>
                            </a>
                        </li>
                    <li class="nav-item">
                <a class ="nav-link active" href="guest.html">Guset</a>
            </li>   
          </div>
        </div>
      </nav>
</header>



    <div id="page-content">
        <div class="grid-content">
            <h2 class="module-header">
            ::before
            "New Addad"
            ::after
           </h2>
        <div class="row MultiRow">
            <div class="row-comic-issue" id data-filter-content="browse">
                <div class="row-item comic-item">
                    <a href="add"></a>
                    <img src="./assets/image/covers/com13.jpg" alt="Addad later" title="addad">
             </div>
             <div class="row-item-text">
                 <h5>ADD</h5>
                 <p class="meta-creators">Add</p>
             </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com2.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com3.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com4.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com5.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com6.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com7.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com8.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com9.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com10.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com11.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <div class="row-item comic-item">
        <div class="row-comic-image">
            <a href="add"></a>
                 <img src="./assets/image/covers/com14.jpg" alt="add" title="add">
                  </div>
               <div class="row-item-text">
            <h5>add</h5>
         <p class="meta-creators">add</p>
      </div>
    </div>

    <footer>
        <div>
            <ul class="Social-networks">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i>
                        </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener"><i class="fab fa-youtube-square"></i>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i>
                </li>
            </ul>
        </div>
    </footer>

    <script src="./index.js"></script>
    <script src=".index.py"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>
</html>