{% extends "base.html" %}

{% block content%} 

<div class="container-fluid" id="phase">
   <div id="page-content">
       <div class="grid-content">
           <h4 class="header">What is your Name</h4>
            <input class="form-control" type="text" placeholder="Comic Name" name="name" id="name">
      </div>
   </div>
</div>       
       <div class="row">
           <div class="row-comic-issue" id="data-filter-content=" browse">
               <div class="row-item comic-item">
                   <p class="subheading">Comic Info</p>
                   <label for="comic-name" class="addcomic-form-label">Comic Name</label>
                   <input type="text" name=""
                   <a href="add"></a>
                   <img src="./assets/image/covers/com13.jpg" class="rounded-end" alt="Add later" title="add">
            </div>
            <div class="row-item-text">
                <h3>ADD</h3>
                <p class="meta-creators">Add</p>
            </div>
         </div>
    
   <div class="row-item comic-item">
       <div class="col-12">
           <a href="add"></a>
                <img src="./assets/image/covers/com2.jpg" class="rounded-end" alt="add" title="add">
                 </div>
              <div class="row-item-text">
           <h5>add</h5>
        <p class="meta-creators">add</p>
     </div>
   </div>

   

{% endblock %}